@use "src/assets/css/colors";
@use "src/assets/css/fonts";

.playerSelector {
	width: 460px;
	height: 205px;
	padding-bottom: 5px;
	background: colors.$semi-dark-navy;
	box-shadow: inset 0px -8px 0px #10212a;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	.instructionText {
		font-family: Outfit;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: colors.$silver;
	}

	.selectorButtons {
		background: colors.$dark-navy;
		border-radius: 10px;
		height: 72px;
		width: 412px;
		display: flex;
		align-items: center;
		justify-content: center;

		.selectButton {
			width: 198px;
			height: 54px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: colors.$silver;
			color: colors.$dark-navy;

			.icon {
				height: 32px;
				width: 32px;
			}
		}

		.unselected {
			background-color: colors.$dark-navy;
			color: colors.$silver;
			cursor: pointer;

			&:hover {
				background-color: rgba(168, 191, 201, 0.05);
			}
		}
	}

	.reminderText {
		font-family: Outfit;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.875px;
		color: colors.$silver;
		opacity: 0.5;
	}
}
