@use "src/assets/css/colors";
@use "src/assets/css/fonts";

.button {
	font-family: Outfit;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 10px;
	color: colors.$dark-navy;

	&.active {
		cursor: pointer;
	}
}
