@use "src/assets/css/colours";

.App {
	height: 100vh;
	background-color: colours.$dark-navy;
	color: colours.$dark-navy;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
