@use "src/assets/css/colors";

.App {
	height: 100vh;
	background-color: colors.$dark-navy;
	color: colors.$dark-navy;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
