@use "src/assets/css/colors";
@use "src/assets/css/fonts";

.background {
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	opacity: 0.5;
	position: absolute;
}

.modalContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 266px;
	background-color: colors.$semi-dark-navy;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 176px;
}

.buttons {
	display: flex;
	width: 238px;
	justify-content: space-between;
}

.quitButton {
	width: 76px;
	height: 52px;
	background-color: colors.$silver;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.nextRoundButton {
	height: 52px;
	width: 52px;
	background-color: colors.$silver;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.primaryOutcomeText {
	display: flex;
	align-items: center;

	.icon {
		color: colors.$light-blue;
		height: 64px;
		width: 64px;
	}

	.text {
		font-family: Outfit;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		letter-spacing: 2.5px;
		text-transform: uppercase;
		color: colors.$light-blue;
		padding-left: 20px;
	}
}

.secondaryOutcomeText {
	font-family: Outfit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: colors.$silver;
}
